<app-menu></app-menu>

<div class="container">
    <h1>Carro de compras</h1>
    <a class="btn btn-danger" (click)="eliminarCarrito()" >Limpiar Carrito</a>
    <a class="btn btn-success" onclick='alert("Gracias por tu compra")'>Realizar Compra</a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Referencia</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">VALOR TOTAL</th>
                <th class="text-center">ACCIONES</th>
            </tr>
        </thead>
   
        <tbody *ngFor=" let carrito of carrito">
            <tr>
                <td class="text-center">{{carrito.referencia}}</td>
                <td class="text-center">{{carrito.descripcion}}</td>
                <td>{{carrito.cantidad}}</td>
                <td>${{carrito.cantidad * carrito.valor_unitario}}</td>
                <td class="text-center">                    
                    <a class="btn btn-danger" (click)="eliminarProducto(carrito.id)">Eliminar</a>
                </td>
            </tr>
           
        </tbody>
    </table>

</div>