<nav class="main-nav">
    <div class="container container--flex">
        <img src="../../../assets/menu.png" id="btnmenu" alt="" class="icon-menu"  (click)="mostrar()">
        <ul class="menu" id="menu">
            <li class="menu__item"><a routerLink="/registro_producto" class="menu__link" id="menu__link1">Crear productos</a></li>
            <li class="menu__item"><a routerLink="/home" class="menu__link" id="menu__link2">Productos</a></li>
            <li class="menu__item"><a routerLink="/carrito" class="menu__link" id="menu__link3">Ver carrito</a></li>
        </ul>
    </div>
</nav>